#canvas {
  width: 600px;
  height: 400px;
  background-color: black;
  border: 15px solid gold;
  position: relative;
}
h1 {
    color:pink;
    position: absolute;
    top: 250px;
    left: 50px;
    padding-left: 73px;
    margin:70px;
    display: inline-block;

}

.square {
  height: 100px;
  width: 100px;
}
#blue {
  background: blue;
  position: absolute;
  top: 150px;
  left: 100px;
  z-index: 5;
}
#green {
  background: green;
  position: absolute;
  top: 150px;
  left: 200px;
}

#yellow {
  background: yellow;
  position: absolute;
  top: 150px;
  left: 300px;
}
#orange {
  background: orange;
  position: absolute;
  top: 150px;
  left: 400px;
}

#red {
  background: red;
  position: absolute;
  top: 150px;
  left: 500px;
}
